* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 100px auto;
  width: 30%;
}

.display {
  border: 1px solid black;
  padding: 5px 10px;
  text-align: end;
  flex-shrink: 0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid button {
  height: 50px;
  flex-grow: 1;
  display: block;
  flex-basis: 1px;
}

.break {
  flex-basis: 100%;
}
